/* Estilo para todo el documento */
body{
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#FFF;
	background-color:#fff;
}

/*Estilo para la alineacion de texto*/
p#izquierda{
	float:left;
}

p#derecha{
   float:right;
}

a {
   color: RED;
}

/*estilo para el pie*/
footer {
	height: 40px;
	margin:10px;
	padding: 10px;
	background-color:#000;
}
